main {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin: 5vh;
}

.second {
    margin-top: 5vh;
}

.povezave {
    display: flex;
    gap: 3vh;
    position: absolute;
    left: 5vh;
    top: 25vh;
}

.first {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#specialTable {
    position: absolute;
    right: 5vh;
    top: 25vh;
    width: 29%;
}

.footer {
    float: right;
}

@media only screen and (max-width: 1200px){
    #specialTable {
        display: none;
    }

    .povezave {
        display: none;
    }
}
@media only screen and (max-width: 600px){
    #specialTable {
        display: none;
    }

    .povezave {
        display: none;
    }
}
@media only screen and (max-width: 425px){
    #specialTable {
        display: none;
    }

    .povezave {
        display: none;
    }
}