.vsebina {
    display: flex;
	min-height: 35vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin: 5vh;
}

.footer {
    float: right;
}

#alert {
	position: absolute !important;
	bottom: 0 !important;
	text-align: center !important;
}